<nav class="navbar navbar-light" style="background-color: rgb(184, 242, 184);">
    <a class="navbar-brand" href="/home">Dad Jokes!</a>
    <a class="navbar-brand" href="/">Logout</a>
</nav>
<div class="container-fluid">
    <div class="row">
        <div class="col-4 list-container">
            <div class="card">
                <ul class="list-group">
                    {{#each jokes}}
                    <button class="joke-item" type="button" data-jokeid="{{this.dataValues.id}}"
                        data-jokename="{{this.dataValues.name}}" data-jokepunchline="{{this.dataValues.punchline}}">
                        <b>Joke: </b>{{this.dataValues.name}}
                        <br>
                        <b>Genre: </b>{{this.dataValues.genre}}</button> <br>
                    {{/each}}
                </ul>
            </div>
        </div>
        <div class="col-6">
            <div class="card">
                <span id="joke" class="joke">
                </span>
                <br>
                <button type="button" id="punchlineBtn" class="btn btn-dark punchlineBtn">What's the
                    punchline?</button>
                <span style="display: none;" id="punchline" class="punchline">
                </span>
            </div>
            <div class="row">
                <div class="col-sm">
                    <div id="current-ratings" class="card current-ratings">Ratings box</div>
                </div>
                <div class="col-sm">
                    <div class="input-group">
                        <select class="custom-select" id="your-rating" aria-label="Example select with button addon">
                            <option selected>Rate this Joke!</option>
                            <option value="1">One- it's alright</option>
                            <option value="2">Two- getting better...</option>
                            <option value="3">Three- genuinely funny</option>
                            <option value="4">Four- hahahaha</option>
                            <option value="5">Five- I actually laughed!</option>
                        </select>
                        <div class="input-group-append">
                            <button class="btn btn-outline-dark" type="ratingBtn">Submit</button>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12">
                    <h4>Think you can do better?</h4>
                </div>
                <a type="button" id="submit" class="btn btn-dark submit" href="/submitjoke">Add a Joke!</a>
            </div>
        </div>
    </div>